<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
      <div>
        <a routerLink="/" mat-raised-button>Market Place</a>
      </div>
      <nav>
        <a mat-button routerLink="/register">REGISTER</a>
        <a mat-button routerLink="/login">SIGN IN</a>
      </nav>
    </mat-toolbar>
    <div class="content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<!--<ng-template #userMenu>-->
<!--  <span>Hello, {{ userInfo.displayName }}!</span>-->
<!--  <nav>-->
<!--    <a routerLink="/new/post" mat-raised-button>New Post</a>-->
<!--    <button mat-icon-button [matMenuTriggerFor]="menu">-->
<!--      <mat-icon>account_circle</mat-icon>-->
<!--    </button>-->
<!--    <mat-menu #menu="matMenu">-->
<!--      <button mat-menu-item (click)="logout()">Logout</button>-->
<!--    </mat-menu>-->
<!--  </nav>-->
<!--</ng-template>-->
